@define-color bg #041419;
@define-color fg #fdf9fb;
@define-color gray1 #8ba7ad;
@define-color gray2 #458195;
@define-color gray3 #9ca0b9;
@define-color gray4 #BCA961;
@define-color gray5 #c2a3bf;
@define-color fg_bright #fdf9fb;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}